.btnStyled {
    border: none;
    background-color: blueviolet;
    color:orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem 2rem;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 10px;
}

.btn-green {
    border: none;
    background-color: green;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem 2rem;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 10px;
}