.nav {
    background: linear-gradient(80deg,#ff5656, #6a7efc);
    color: white;
}
ul{
    color: white;
}

.userLogo {
    font-size: 1.5rem;
}

.avatarLogoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}